.paypal_mx-module-wrapper { clear: both; margin: 0px auto; }
.paypal_mx-module-header { clear: both; margin: 0px 0px 20px 0px; padding: 15px 40px 0px 260px; position: relative; overflow: hidden; }
.paypal_mx-module-header img.paypal_mx-logo { margin: 0px; position: absolute; top: 25px; left: 40px; }
.paypal_mx-module-header span.paypal_mx-module-intro {
	border-left: #C3D9EF solid 1px; color: #008CDD; display: block; float: left; font-size: 18px; line-height: 24px; margin: 0px 0px 0px 0px; padding: 11px 0px 0px 20px; width: 100%;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.paypal_mx-module-header span.paypal_mx-module-singup-text { color: #535353; display: inline-block; font-size: 16px; float: left;  height: 35px; line-height: 35px;  margin-top: 10px;  padding: 0px; }
a.paypal_mx-module-create-btn {
	background: url(../img/bg_btn-blue.png) left top no-repeat; color: #FFF; display: inline-block; float: right; font-size: 16px; font-weight: bold; height: 35px; line-height: 33px; margin: 10px 0px 0px 0px; padding: 0px 0px 0px 20px; text-shadow: 0px -1px 0px #03609E;
}
a.paypal_mx-module-create-btn span { background: url(../img/bg_btn-blue.png) right bottom no-repeat; display: block; height: 35px; margin: 0px -20px 0px 0px; padding: 0px 20px 0px 0px; }

.paypal_mx-module-wrap { background-color: #FFF; border: #C3D9EF solid 1px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; clear: both; margin: 0px 0px 15px 0px; overflow: hidden; padding: 15px; }
img.paypal_mx-cc { margin: 15px 30px 0px 0px; vertical-align: middle; }

.paypal_mx-module-wrap .col-md-6{ margin-bottom: 3em; }


#content.bootstrap .paypal_mx-module-wrap h3:not(.modal-title) { color: #008CDD; margin-top:-10px; text-shadow: 0px -1px 0px #DAF2FF; }
#content.bootstrap .paypal_mx-module-wrap p, .paypal_mx-module-wrap ul li, .paypal_mx-module-wrap p a{ color: #535353; font-size: 14px; line-height: 22px; margin: 0px; padding: 0px; text-shadow: 0px 1px 0px #FFFFFF; }
#content.bootstrap .paypal_mx-module-wrap p a {font-size: 11px;}

a.paypal_mx-module-btn { background: url(../img/paypal_mx-btn-arrow.png) left center no-repeat; color: #008CDD; display: inline-block; font-weight: bold; margin: 7px 0px; padding-left: 8px; text-decoration: none; text-shadow: 0px 1px 0px #FFFFFF; }
a.paypal_mx-module-btn:hover { text-decoration: underline; }

.paypal_mx-module-wrap ul { list-style: none; margin: 0px; padding: 0px; }
.paypal_mx-module-wrap ul li { background: url(../img/checkmark-blue.png) left 5px no-repeat; margin: 0px 0 10px; padding: 0px 0px 0px 15px; }

.paypal_mx-module-col1 { float: right; margin: 0px; overflow: hidden;}
.paypal_mx-module-col2 { overflow: hidden;}
.paypal_mx-module-col1inner { float: left; margin: 0px; overflow: hidden; }
.paypal_mx-module-col2inner { clear: both; margin: 0px; }
.paypal_mx-module-wrap .paypal_mx-module-col2inner h3 { border-top: #C3D9EF solid 1px; padding-top: 20px; }

#paypal-mx-basic-settings-table tr td, #paypal-mx-advanced-settings-table tr td { padding: 3px; }
#paypal_mx-module_body { margin: 0 auto; width: 980px; }

#paypal_mx-module_logo { width: 325px; }
#paypal_mx-module_button_header { margin-top: 40px; }
#paypal_mx-module_manager label { float: left; }
.left { float: left; }
.right { float: right; }
.one_line { text-align: center; margin-top: 10px; }

.paypal-mx-onecol, .paypal-mx-threecol, .paypal-mx-product, .paypal-mx-product_eco { overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.paypal-mx-threecol { float: left; margin-bottom: 10px; padding-right: 7px; width: 75%; }
.paypal-mx-onecol { float: right; margin-bottom: 10px; padding-left: 7px; width: 25%; }

.paypal-mx-product, .paypal-mx-product_eco { background: #FFF; border: solid 1px #BBBBBB; padding: 10px 15px; overflow: visible; position: relative; text-align: center; }
.paypal-mx-product { float: left; width: 33.33%; }
.paypal-mx-product.first {
	border-width: 1px 0px 1px 1px;
	-webkit-border-top-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-bottomleft: 4px; border-top-left-radius: 4px; border-bottom-left-radius: 4px;
}
.paypal-mx-product.last {
	border-width: 1px 1px 1px 0px;
	-webkit-border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px;
}
.paypal-mx-product_eco { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; float: none; width: 100%; }
.paypal-mx-product-active { background: #EAF8FF; }
.fixCol p { line-height: 1.4em; margin-bottom: 5px; text-align: left; min-height: 130px;}
.fixCol label { clear: none!important; float: none!important; width: auto!important; }
.fixCol input { margin: -3px 5px 0px 0px; }
.fixCol center { display: block; margin-left: -15px; position: absolute; bottom: 10px; width: 100%; }
.paypal-mx-or { background-color: #FFF; display: block; font-size: 11px; font-weight: bold; height: 18px; line-height: 18px; position: absolute; right: -13px; top: 45%; text-align: center; width: 26px; z-index: 10; }

.enable-express-checkout-mx p { margin-bottom: 15px; }
.enable-express-checkout-mx label, fieldset label.resetLabel { float: none; font-weight: normal; }
.margin-form label { font-size: 1.1em; }
.margin-form input[type="radio"], .margin-form input[type="checkbox"] { margin: -3px 4px 0px 0px;}
.margin-form a.paypal_mx-module-btn { margin: 0px; }
a.paypal_mx-module-btn.learn_more { background: url(../../../img/admin/information.png) left center no-repeat; margin: 0px 0px 15px 0px; padding-left: 20px; }

form .margin-form .input-text { width: 250px; }

form.half-form { content: ""; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 50%; }
form.half-form.L { float: left; padding-right: 10px; }
form.half-form.R { float: right; padding-left: 10px; }

form.half-form label { width: 210px; }
form.half-form .margin-form { padding-left: 230px; }
form.half-form .margin-form .input-text { width: 90%; }

fieldset h4 { margin-top: 0px; }
fieldset h4.sep-title { border-top: #CCCED7 dotted 1px; padding-top: 10px; margin-bottom: 10px; }
fieldset .PT2 { padding-top: 2px; }
fieldset .PT4 { padding-top: 4px; }
fieldset .MB15 { margin-bottom: 15px!important; }
fieldset .resetMargin { margin: 0px!important; }
fieldset .centerText { text-align: center!important; }

.paypal_help_box { height: 300px; padding-bottom: 40px; width: 400px; }
.paypal_help_box .button { margin: 20px auto 0px auto; }
.clear { clear: both;}
.L { float: left!important; }
.warn { color: #CC0000; }
.hiddenElement { display: none; }

.form-group.required .control-label:after {
  content:"*";
  color:red;
}